.footer {
  height: 100%;
  padding: 0.62vw;
  color: white;

  @media (max-width: $br1) {
    height: auto;
  }

  @media (max-width: $br4) {
    padding: 0;
  }
}

.footer__container {
  height: 100%;
  width: 100%;
  position: relative;
}

.footer__bg {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/img/home/home-5 bg.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 40px;
  z-index: -1;

  @media (max-width: $br1) {
    border-radius: 30px;
  }

  @media (max-width: $br4) {
    border-radius: 0;
  }
}

.footer__text--1 {
  @include col-s(1);
  @include col-end(6);
  @include row-s(1);
  @include row-end(1);
  @include reg;
  font-size: vw(182);
  line-height: 1em;
  position: relative;

  @media (max-width: $br1) {
    @include col-s(1);
    @include col-end(9);
    font-size: vw(230);
  }

  @media (max-width: $br4) {
    @include col-s(1);
    @include col-end(4);
    font-size: 65px;
  }
}

.footer__text--2 {
  @include col-s(4);
  @include col-end(10);
  @include row-s(2);
  @include row-end(2);
  @include reg;
  font-size: vw(182);
  line-height: 1em;
  position: relative;

  @media (max-width: $br1) {
    @include col-s(3);
    @include col-end(12);
    font-size: vw(230);
  }

  @media (max-width: $br4) {
    @include col-s(1);
    @include col-end(4);
    font-size: 65px;
  }
}

.footer__title-style {
  @include ticket;
}

.footer__title {
  padding-top: vw(86);
  margin-bottom: vw(130);

  @media (max-width: $br4) {
    padding-top: 62px;
    margin-bottom: 64px;
  }
}

.footer__about {
  @include col-s(1);
  @include col-end(3);
  @include row-s(3);
  @include row-end(3);

  @media (max-width: $br1) {
    display: grid;
    justify-content: center;
    align-content: center;
    @include col-s(6);
    @include col-end(7);
    @include row-s(4);
    @include row-end(4);
    margin-bottom: vw(62);
  }

  @media (max-width: $br4) {
    @include col-s(1);
    @include col-end(4);
    @include row-s(4);
    @include row-end(4);
  }
}

.footer__social {
  @include col-s(4);
  @include col-end(7);
  @include row-s(3);
  @include row-end(3);

  @media (max-width: $br1) {
    @include col-s(6);
    @include col-end(7);
    @include row-s(5);
    @include row-end(5);
  }

  @media (max-width: $br4) {
    @include col-s(1);
    @include col-end(4);
    @include row-s(5);
    @include row-end(5);
  }
}

.footer__form {
  @include col-s(8);
  @include col-end(12);
  @include row-s(3);
  @include row-end(3);

  @media (max-width: $br4) {
    @include col-s(1);
    @include col-end(4);
  }
}

.footer__social-h3 {
  @include reg;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: vw(24);

  @media (max-width: $br1) {
    display: grid;
    justify-content: center;
    align-content: center;
  }
}

.footer__list {
  margin-bottom: 12px;

  &:nth-child(5) {
    margin-bottom: 0;
  }

  @media (max-width: $br1) {
    display: grid;
    justify-content: center;
    align-content: center;

    &:nth-child(3) {
      margin-bottom: 0;
    }
    &:nth-child(4) {
      display: none;
    }
    &:nth-child(5) {
      display: none;
    }
  }
}

.footer__network {
  @media (max-width: $br1) {
    margin-bottom: vw(85);
  }
}

.footer__social-name {
  @include reg;
  font-size: vw(20);
  line-height: 130%;
  color: var(--white);

  @media (max-width: $br1) {
    font-size: 24px;
  }
}

.footer__desc {
  @include reg;
  font-size: vw(20);
  line-height: 130%;
  color: var(--white);
  opacity: 0.7;
  max-width: vw(272);

  &:first-of-type {
    margin-top: vw(43);
    margin-bottom: vw(20);
  }

  @media (max-width: $br1) {
    display: none;
  }
}

.footer__h3 {
  @include reg;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: vw(60);
}

.footer__btn {
  display: flex;
  flex-direction: row-reverse;

  @media (max-width: $br1) {
    flex-direction: none;
    justify-content: center;
  }
}

.footer__button {
  margin-top: 40px;
  margin-bottom: 78px;
  font-family: inherit;
  font-size: 16px;
  line-height: 100%;
  display: block;
  height: 186px;
  width: 186px;
  border-radius: 50%;
}

.footer__small-text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  @include reg;
  opacity: 0.7;
  font-size: vw(20);
  line-height: 130%;

  @media (max-width: $br1) {
    margin-top: 85px;
    font-size: 14px;
  }
}

.footer__form {
  @include col-s(8);
  @include col-end(12);

  @media (max-width: $br1) {
    @include col-s(1);
    @include col-end(12);
  }
}

.form {
  position: relative;

  @media (max-width: $br3) {
    margin-top: 50px;
  }
}

.form__inputs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: vw(20);
  row-gap: vw(40);

  @media (max-width: $br1) {
    grid-template-columns: repeat(12, 1fr);
    row-gap: vw(126);
  }

  @media (max-width: $br3) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
  color: #bdbdbd;
  text-transform: uppercase;
  font-size: 16px;
  &.active {
    > .label {
      transform: translateY(-14px);
      font-size: 10px;
      opacity: 0.7;
    }
  }
  &.error {
    > .label {
      color: #e73737;
    }
    > .input {
      border-bottom-color: #e73737;
    }
    > .form__input-error {
      opacity: 1;
      visibility: visible;
    }
  }
}

.input-wrapper:first-of-type {
  @include col-s(1);
  @include col-end(3);

  @media (max-width: $br1) {
    @include col-s(1);
    @include col-end(6);
    width: 75%;
  }

  @media (max-width: $br3) {
    @include col-s(1);
    @include col-end(4);
    @include row-s(1);
    @include row-end(1);
    width: 100%;
  }
}

.input-wrapper:nth-of-type(2) {
  @include col-s(4);
  @include col-end(6);

  @media (max-width: $br1) {
    @include col-s(8);
    @include col-end(12);
  }

  @media (max-width: $br3) {
    @include col-s(1);
    @include col-end(4);
    @include row-s(2);
    @include row-end(2);
    width: 100%;
  }
}

.input-wrapper:nth-of-type(3) {
  @include col-s(1);
  @include col-end(2);

  @media (max-width: $br1) {
    @include col-s(1);
    @include col-end(4);
    width: 80%;
  }

  @media (max-width: $br3) {
    @include col-s(1);
    @include col-end(4);
    @include row-s(3);
    @include row-end(3);
    width: 100%;
  }
}

.input-wrapper:nth-of-type(4) {
  @include col-s(3);
  @include col-end(4);

  @media (max-width: $br1) {
    @include col-s(5);
    @include col-end(8);
    width: 85%;
  }

  @media (max-width: $br3) {
    @include col-s(1);
    @include col-end(4);
    @include row-s(4);
    @include row-end(4);
    width: 100%;
  }
}

.input-wrapper:nth-of-type(5) {
  @include col-s(5);
  @include col-end(6);

  @media (max-width: $br1) {
    @include col-s(9);
    @include col-end(12);
  }

  @media (max-width: $br3) {
    @include col-s(1);
    @include col-end(4);
    @include row-s(5);
    @include row-end(5);
    width: 100%;
  }
}

.input-wrapper:nth-of-type(6) {
  @include col-s(1);
  @include col-end(6);

  @media (max-width: $br1) {
    @include col-s(1);
    @include col-end(12);
  }

  @media (max-width: $br3) {
    @include col-s(1);
    @include col-end(4);
    @include row-s(6);
    @include row-end(6);
    width: 100%;
  }
}

textarea {
  border: none;
  resize: none;
}

.input {
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid var(--white);
  padding-bottom: 6px;
  padding-top: 3px;
  line-height: 1em;
  color: var(--white);
  font-size: 16px;
}

.label {
  position: absolute;
  font-size: 16px;
  left: 0;
  top: 3px;
  line-height: 1em;
  pointer-events: none;
  transition: transform, opacity, font-size;
  transition-timing-function: ease;
  transition-duration: 0.3s;

  @media (max-width: 1280px) {
    font-size: 12px;
  }
}

.form__input-error {
  color: #e73737;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.3;
  transition-timing-function: ease;
  margin-top: 4px;
  display: block;
}

abbr {
  color: var(--red);
  text-decoration: none !important;
}

//Reset autofill styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.01) inset;
  transition: background-color 5000s ease-in-out 0s;
}
