// --------------------Ticker--------------------

.ticker-wrap {
    margin-bottom: vw(104);
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0);
}

.ticker {
    display: flex;
    width: fit-content;
    line-height: 1.1em;
}

.ticker__item {
    @include reg;
    font-size: vw(146);
    line-height: 1.1em;
    color: black;
    white-space: nowrap;
}

// --------------------Ticker--------------------


.home-6 {
    margin-top: vw(160);
    overflow: hidden;

    @media (max-width: $br1) {
        margin-top: 100px;
    }

    @media (max-width: $br3) {
        margin-top: 52px;
    }
}

.home-6__content {
    @media (max-width: $br2) {
        display: block;
    }
}

.home-6__text {
    @include col-s(1);
    @include col-end(7);
    width: 104%;

    @media (max-width: $br1) {
        @include col-end(6);
    }
}

.home-6__img-wrapper {
    @include col-s(9);
    @include col-end(12);
    border-radius: vw(50);
    overflow: hidden;

    @media (max-width: $br1) {
        @include col-s(7);
        border-radius: 50px;
    }

    @media (max-width: $br2) {
        margin-top: 40px;
    }

    @media (max-width: $br3) {
        border-radius: 20px;
    }
}
