// // --------------------Ticker--------------------


// $duration: 30s;

// @-webkit-keyframes ticker {
//     0% {
//         -webkit-transform: translate3d(0, 0, 0);
//         transform: translate3d(0, 0, 0);
//         visibility: visible;
//     }

//     100% {
//         -webkit-transform: translate3d(-100%, 0, 0);
//         transform: translate3d(-100%, 0, 0);
//     }
// }

// @keyframes ticker {
//     0% {
//         -webkit-transform: translate3d(0, 0, 0);
//         transform: translate3d(0, 0, 0);
//         visibility: visible;
//     }

//     100% {
//         -webkit-transform: translate3d(-100%, 0, 0);
//         transform: translate3d(-100%, 0, 0);
//     }
// }

// .ticker-wrap {
//     margin-bottom: vw(104);
//     bottom: 0;
//     width: 100%;
//     overflow: hidden;
//     background-color: rgba(255, 0, 0, 0);
//     padding-left: 100%;
//     box-sizing: content-box;

//     .ticker {
//         display: inline-block;
//         line-height: 4rem;
//         white-space: nowrap;
//         padding-right: 100%;
//         box-sizing: content-box;
//         -webkit-animation-iteration-count: infinite;
//         animation-iteration-count: infinite;
//         -webkit-animation-timing-function: linear;
//         animation-timing-function: linear;
//         -webkit-animation-name: ticker;
//         animation-name: ticker;
//         -webkit-animation-duration: $duration;
//         animation-duration: $duration;

//         &__item {
//             @include reg;
//             display: inline-block;
//             font-size: vw(146);
//             line-height: 97.6%;
//             color: black;
//         }
//     }
// }



// --------------------Ticker--------------------


.home-6 {
    margin-top: vw(160);

    @media (max-width: $br1) {
        margin-top: 100px;
    }

    @media (max-width: $br3) {
        margin-top: 52px;
    }
}

.home-6__content {
    @media (max-width: $br2) {
        display: block;
    }
}

.home-6__text {
    @include col-s(1);
    @include col-end(7);
    width: 104%;

    @media (max-width: $br1) {
        @include col-end(6);
    }
}

.home-6__img-wrapper {
    @include col-s(9);
    @include col-end(12);
    border-radius: vw(50);
    overflow: hidden;

    @media (max-width: $br1) {
        @include col-s(7);
        border-radius: 50px;
    }

    @media (max-width: $br2) {
        margin-top: 40px;
    }

    @media (max-width: $br3) {
        border-radius: 20px;
    }
}
