<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8" />
    <title>Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#131116" />
    <link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Template" />
    <meta property="og:title" content="Template" />
    <meta property="og:description" content="Template" />
    <!-- BEGIN styles -->
    <link rel="stylesheet" media="all" href="css/app.css" />
    <!-- END styles -->
  </head>

  <body>
    <main>
      <h1>by Emotion 2</h1>
    </main>
    <!-- BEGIN scripts -->
    <script src="./js/runtime-app.147dd22f.js"></script> 
    <script src="./js/app.c320d437.js"></script>
    <!-- END scripts -->
  </body>
</html>
